@import url('https://fonts.googleapis.com/css2?family=Lato&family=Moon+Dance&family=Rowdies&display=swap');
body{
    background-color: #485696;
    font-family: 'Lato', sans-serif;
    color: #E7E7E7;
    
}
.logo{
    text-align: center;
    text-shadow: 2px 2px 5px #707BAB;
}
a.logo{
    font-family: 'Moon Dance', cursive;
    font-size: 65px;
    text-shadow: 2px 2px 5px #707BAB;
    color: #E7E7E7;
    text-decoration: none;
}

header{
    text-align: center;
    font-size: 15px;
    color: #707BAB;
}
a{
  text-decoration: none;   
  color: #E7E7E7;   
}
a:active{
    color: #BD6161;
}
hr{
    color: #707BAB;
    background-color: #707BAB;
    height: 1px;
    border-width: 0px;
}
/*  */
#mapa{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 100%;
}
@media  (orientation: portrait)
{
    #mapa{
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        /* height: 100%; */
        /* margin-left: 25%;
        margin-right: 25%; */
        width:93%;
        
        
    }
    
    article{
        
        border: 1px solid #707BAB;
        border-radius: 10px;
    }
    nav.landscape{
        display: none;
    }
    nav.mobile{
        font-size: small;
        width: 100%;
        color: #707BAB;
        border: 0px;
        font-size:medium;
    }
}


article{
    margin: 10px;
    border: 1px solid #707BAB;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height:fit-content 1;
    
}
nav{
    margin: 10px;
    border: 1px solid #707BAB;
    border-radius: 20px;
    padding: 10px;
    width:fit-content;
    height: fit-content;
    text-align: center;
}
img.tux{
    height: 150px;
    height: fit-content;
}
img.logo{
    width: 100px;
    height: 100px;
    text-shadow: 2px 2px 5px #707BAB;
}
h3{
    text-align: center;
    color: #93a1e0;
    font-size: xx-large;
}

img.a{
    width: 150px;
    height: 225px;
    float: right;
    margin: 10px;
    border: 1px solid #707BAB;
    border-radius: 15px;
}
b{
    color: #FFFF;
    
}
@media  (orientation: landscape){
nav.mobile{
    display: none;
}}