@import url('https://fonts.googleapis.com/css2?family=Lato&family=Moon+Dance&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body{
    background-color: #485696;
    font-family: 'Lato', sans-serif;
    color: #E7E7E7;

}
.logo{
    text-align: center;
    text-shadow: 2px 2px 5px #707BAB;
}
a.logo{
    font-family: 'Moon Dance', cursive;
    font-size: 65px;
    text-shadow: 2px 2px 5px #707BAB;
    color: #E7E7E7 !important;
    text-decoration: none;
}

header{
    text-align: center;
    font-size: 15px;
    color: #707BAB;
}
a{
  text-decoration: none;   
  color: #E7E7E7;   
}
a:hover{
    color: #BD6161;
}
hr{
    color: #707BAB;
    background-color: #707BAB;
    height: 1px;
    border-width: 0px;
}
/*  */
@media  (orientation: landscape){
    nav.mobile{
        display: none;
    }
    
    #mapa{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        height: 100%;
        padding-bottom: calc(1rem + 1vh);
    }
    article{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
        border: 1px solid #707BAB;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        
    }
    nav.landscape{
        height: min-content;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        
    }
    img.tux{
        height: fit-content;
        margin: 0px;
    }


}



@media  (orientation: portrait) 
{
    #mapa{
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
    }
    
    img.tux{    
        height: 15%;    
        width: 15%;    
        }
    
    
    article{
        
        border: 1px solid #707BAB;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 2rem;   
    }
    nav.landscape{
        display: none;
    }
    nav.mobile{
        font-size: small;
        color: #707BAB;
        border: 0px;
        font-size:medium;
    }
    img.tux{
        margin-left: 33%;
        margin-right: 33%;
        width: 33%;
}
}


nav{
    margin: 10px;
    border: 1px solid #707BAB;
    border-radius: 20px;
    padding: 10px;
    width:fit-content;
    height: fit-content;
    text-align: center;
}

img.logo{
    width: 100px;
    height: 100px;
    text-shadow: 2px 2px 5px #707BAB;
}
h3{
    text-align: center;
    color: #93a1e0;
    font-size: x-large;
}

img.a{
    width: 150px;
    height: 225px;
    float: right;
    margin: 10px;
    border: 1px solid #707BAB;
    border-radius: 15px;
}
img.b{
    margin: 10px;
    border: 1px solid #707BAB;
    border-radius: 15px;
    width: 50%;
    float: right;
}
b{
    color: #FFFF;
    
}
  #kont {
    position: relative;
    min-height: calc(100vh - 1rem);
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
  }
LEFT{
    font-family: 'Noto Sans JP', sans-serif;
}
a.domyslny{
    color: (internal value); text-decoration: underline;cursor: auto; 
}
.terminal{
   background-color: black;
}
.przyklad{
    font-size: 14px;
    border: 1px solid #707BAB;
    border-radius: 15px;
    padding: 10px;
}
.blue{
    color: blue;
}
.green{
    color: rgb(0, 255, 0);
}
.c{
    text-align: center;
}
.distro{
    padding-bottom: 350px;
}